html{
    background-color:rgb(70, 121, 104) ;
}
.nav-bar{
    width: 100%;
    height: 70px;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo{
    width: 6%;
    height: 60%; 
    justify-content: flex-start;
    position: absolute;
    top: 15px;
    left: 15px;
}

.wall{
    width: 3px;
    height: 40px;
    background-color: white;
    position:fixed;
    padding: 0;
    top: 18px;
}

.wall.one{
    position: fixed;
    margin-left: 100px;
}

.logo_2{
    width: 7%;
    margin-left: 120px;
    position: fixed;
    top: 0;
}

#language{
    float: right;
    position: relative;
    top: 23px;
    border: 0;
    background-color: grey;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wall.two{
    right: 100px;
}

.profile{
    position: fixed;
    width: 50px;
    right: 120px;
    top: 15px;
}

.login{
    position: fixed;
    right: 185px;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wall.three{
    right: 250px;
}

.question{
    position: fixed;
    right: 270px;
    top: 25px;
}

.wall.four{
    right: 310px;
}

.about{
    position: fixed;
    right: 330px;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wall.five{
    right: 440px;
}

body::-webkit-scrollbar {
    width: 8px;            
}

body::-webkit-scrollbar-track {
    background: transparent
}
  
body::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: rgb(62, 62, 63); 
    border-radius: 20px;  
    border: 10px solid transparent;
}

.performance{
    position: fixed;
    right: 470px;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.container{
    object-fit: fill;
    margin-top: 35px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.legend{
    position: inherit;
    text-align: center;
    margin-left: 260px;
    font-weight: bold;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 53, 53);
    margin-top: 75px;
    width: 60%;
}

.container-form{
    position:absolute;
    background-color: rgb(207, 207, 207);
    width: 100%;
    height: 800px;
    top: 235px;
    left: 0;
}

.form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 80px auto;
    padding-bottom: 2em;
    border: 2px solid black;
    padding-left: 0;
    padding-right: 0;
    border-radius: 30px;
}

label{
    margin-left: 150px;
    flex-direction: column;
    display: flex;
    padding-bottom: 15px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.input{
    margin: 10px 0 0 0;
    width: 50%;
    border-radius: 3px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    margin: 15px 0 0 150px;
    font-family: Arial, Helvetica, sans-serif;
    width: 182px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.already{
    text-align: center;
    
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.last{
    width: 50%;
    height: 2px;
    background-color: black;
    margin-left: 130px;
}
